.App {
  text-align: center;
}

table {
  width: 90vw;
  margin: auto;
}

thead {
  background-color: #ffe598;
  height: 2rem;
  font-size: 1.2rem;
}

tbody {
  background-color: #cccccc;
  font-size: 1.1rem;
}

tr {
  height: 2rem;
}

form {
  margin-top: 3rem;
}

input {
  width: 90vw;
  margin: auto;
  height: 2rem;
  text-align: center;
  font-size: 1.8rem;
  background-color: #b9e0a5;
}

p{
  font-size: 1.3rem;
}